## Augmenting text descriptions of object, organisation and person records using their metadata.
E.g. adding 'Made in China, 1994' from PLACE_MADE and DATE_MADE metadata, after checking that these values aren't already in the description.

**Why?** Useful to provide information to machine learning models e.g. entity linker where descriptions are short or non-existent

**How?** 
1. Get useful metadata values
2. Check that they're not already in the description
3. Form a new description using the old description plus strings formed from these template values (*'Made in xxxx'*)
4. Return the strings shuffled, so that a machine learning model doesn't start to learn the order of the strings.
5. Store this new description alongside the original as `sdo:disambiguatingDescription`

In [97]:
import sys
sys.path.append("..")

from heritageconnector import datastore, datastore_helpers
from heritageconnector.utils.data_transformation import get_year_from_date_value
from heritageconnector.utils.generic import flatten_list_of_lists
import pandas as pd
import random, re, string

# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

people_data_path = "./GITIGNORE_DATA/mimsy_adlib_joined_people.csv"
object_data_path = (
    "./GITIGNORE_DATA/smg-datasets-private/mimsy-catalogue-export.csv"
)
collection_prefix = "https://collection.sciencemuseumgroup.org.uk/objects/co"
people_prefix = "https://collection.sciencemuseumgroup.org.uk/people/cp"

### Objects

In [42]:
# from smg_loader
def load_catalogue_df():
    catalogue_df = pd.read_csv(object_data_path, low_memory=False)
    catalogue_df["URI"] = collection_prefix + catalogue_df["MKEY"].astype(str)
    catalogue_df["MATERIALS"] = catalogue_df["MATERIALS"].apply(
        datastore_helpers.split_list_string
    )
    catalogue_df["ITEM_NAME"] = catalogue_df["ITEM_NAME"].apply(
        datastore_helpers.split_list_string
    )
    catalogue_df.loc[:, ["DESCRIPTION", "OPTION1"]] = catalogue_df.loc[
        :, ["DESCRIPTION", "OPTION1"]
    ].applymap(datastore_helpers.process_text)

    newline = " \n "
    catalogue_df.loc[:, "DESCRIPTION"] = catalogue_df[["DESCRIPTION", "OPTION1"]].apply(
        lambda x: f"{newline.join(x)}"
        if x["DESCRIPTION"] != x["OPTION1"] and (str(x["OPTION1"]) != "nan")
        else x["DESCRIPTION"],
        axis=1,
    )
    
    cat_df["DATE_MADE"] = cat_df["DATE_MADE"].apply(
        get_year_from_date_value
    )

    catalogue_df = catalogue_df[~catalogue_df["CATEGORY1"].str.contains("Disposal")]
    catalogue_df["CATEGORY1"] = catalogue_df["CATEGORY1"].apply(
        lambda x: x.split(" - ")[1].strip()
    )
    
    return catalogue_df

cat_df = load_catalogue_df()

cat_df.head()

   MKEY                                              TITLE                                      ITEM_NAME         CATEGORY1 COLLECTOR PLACE_COLLECTED DATE_COLLECTED                                      PLACE_MADE CULTURE  DATE_MADE                            MATERIALS                        MEASUREMENTS EXTENT                                        DESCRIPTION  ITEM_COUNT  PARENT_KEY BROADER_TEXT WHOLE_PART ARRANGEMENT LANGUAGE_OF_MATERIAL  EDITION OPTION1 OPTION2           OPTION3 OPTION4 OPTION5 OPTION6 OPTION7 OPTION8  OPTION9 OPTION10     OPTION11                                          OPTION12  OPTION13  OPTION14 OPTION15 CREATE_DATE UPDATE_DATE                                                URI
0    16             Ansonia Sunwatch (pocket compass dial)                    [pocket horizontal sundial]  Time Measurement       NaN             NaN            NaN  New York county, New York state, United States     NaN  1922-1939                                [nan]                                 NaN    NaN             Ansonia Sunwatch (pocket compass dial)         1.0         NaN          NaN      WHOLE         NaN                  eng      NaN     nan     NaN  Desborough, Jane     NaN     NaN     NaN     NaN     NaN      NaN      NaN  SMG00083125                                               NaN       NaN       NaN      NaN   12-MAR-96   27-MAY-20  https://collection.sciencemuseumgroup.org.uk/o...
1    17  Model of train of wheels used in a clock (full...  [spring-driven clock mechanism, fusee, model]  Time Measurement       NaN             NaN            NaN                                             NaN     NaN        NaN                                [nan]                                 NaN    NaN  Model of train of wheels used in a clock (full...         1.0         NaN          NaN      WHOLE         NaN                  eng      NaN     nan     NaN  Desborough, Jane     NaN     NaN     NaN     NaN     NaN      NaN      NaN          NaN                                               NaN       NaN       NaN      NaN   12-MAR-96   27-MAY-20  https://collection.sciencemuseumgroup.org.uk/o...
2    18                               Ship's log sandglass         [log (nautical instrument), sandglass]  Time Measurement       NaN             NaN            NaN                                             NaN     NaN        NaN  [glass, sand, mounted, wood, timer]     overall: 140 mm 70 mm, 0.252 kg    NaN  Ship's log-glass in wooden mount. 14 secs. Abb...         1.0         NaN          NaN      WHOLE         NaN                  eng      NaN     nan     NaN  Desborough, Jane     NaN     NaN     NaN     NaN     NaN      NaN      NaN          NaN                                               NaN       NaN       NaN      NaN   12-MAR-96   27-MAY-20  https://collection.sciencemuseumgroup.org.uk/o...
3    20               Watch with Chinese duplex escapement                   [pocket watch, duplex watch]  Time Measurement       NaN             NaN            NaN                                             NaN     NaN        NaN                                [nan]                                 NaN    NaN               Watch with Chinese duplex escapement         1.0         NaN          NaN      WHOLE         NaN                  eng      NaN     nan     NaN  Desborough, Jane     NaN     NaN     NaN     NaN     NaN      NaN      NaN          NaN                                               NaN       NaN       NaN      NaN   12-MAR-96   27-MAY-20  https://collection.sciencemuseumgroup.org.uk/o...
4    22                         "Ever Ready" ceiling clock                                       [clocks]  Time Measurement       NaN             NaN            NaN                                             NaN     NaN        NaN                                [nan]  overall: 140 mm x 124 mm x 152 mm,    NaN                         "Ever Ready" ceiling clock         1.0         NaN          NaN      WHOLE         NaN                  eng      NaN     nan     NaN  Desborough, Jane     NaN     NaN     NaN     NaN     NaN      NaN      NaN          NaN  RECORD ACTIVE IN ASSET PANDA – EDIT WITH CAUTION       NaN       NaN      NaN   12-MAR-96   11-JUN-20  https://collection.sciencemuseumgroup.org.uk/o...

In [71]:
def create_object_disambiguating_description(row: pd.Series) -> str:
    # Create item_name (object type).
    # Here we also check that the name without 's' or 'es' is not already in the description,
    # which should cover the majority of plurals.
    if (str(row.ITEM_NAME[0]) != "nan") and \
        (str(row.ITEM_NAME[0]).lower() not in row.DESCRIPTION.lower()) and \
        (str(row.ITEM_NAME[0]).rstrip("s").lower() not in row.DESCRIPTION.lower()) and \
        (str(row.ITEM_NAME[0]).rstrip("es").lower() not in row.DESCRIPTION.lower()):
        item_name = f"{row.ITEM_NAME[0].capitalize().strip()}."  
    else:
        item_name = ""
    
    # create made in place and/or date 
    add_place_made = (str(row['PLACE_MADE']) != "nan") and (str(row['PLACE_MADE']).lower() not in row.DESCRIPTION.lower())
    add_date_made = (str(row['DATE_MADE']) != "nan") and (str(row['DATE_MADE']).lower() not in row.DESCRIPTION.lower())
    # Also check for dates minus suffixes, e.g. 200-250 should match with 200-250 AD and vice-versa
    if re.findall(r"\d+-?\d*", str(row['DATE_MADE'])):
        add_date_made = add_date_made and (re.findall(r"\d+-?\d*", row['DATE_MADE'])[0].lower() not in row.DESCRIPTION.lower())
    
    if add_place_made and add_date_made:
        made_str = f"Made in {row.PLACE_MADE.strip()}, {row.DATE_MADE.strip()}."
    elif add_place_made:
        made_str = f"Made in {row.PLACE_MADE.strip()}."
    elif add_date_made:
        made_str = f"Made {row.DATE_MADE.strip()}."
    else:
        made_str = ""
    
    # add space and full stop (if needed) to end of description
    description = (row.DESCRIPTION.strip() if row.DESCRIPTION.strip()[-1] == "." else f"{row.DESCRIPTION.strip()}.")
    
    # we shuffle the components of the description so any model using them does not learn the order that we put them in
    aug_description_components = [item_name, description, made_str]
    random.shuffle(aug_description_components)
    
    return (" ".join(aug_description_components)).strip()

for _, row in cat_df.sample(20).iterrows():
    print(create_object_disambiguating_description(row))
    print()

Folder "dyes and textiles: 1930." Papers giving figures and data used. Part of the Morton Collection.

Leslie's differential thermoscope on simple wooden stand.  Made 1851-1950.

Map, Stockton & Darlington Railway, system map, 1 inch to 10 miles, c. 1869, published by A McKay, printed by G W Hurd, paper.

Made in Birmingham, Borough of Birmingham, West Midlands, England, United Kingdom.  Fish knife, good condition, stamped with makers mark and BR (M) logo.

Made in London, Greater London, England, United Kingdom, 1841-1910. Urethral sound, narrow gauge cylindrical rod with tapering proximal curve and metal handle, by Montague, c. 1870.

Wooden cigar holder, cylinder form on a short stalk, screw on horn mouthpiece, Burstow's patent, English, 1870-1920.

Sample of patent prismatic rolled glass by Pilkington Brothers Ltd., St. Helens, England, 1892-1930
 Sample of patent prismatic rolled glass by Pilkington Brothers Ltd., St. Helens, England, 1892-1930. Glass is fluid at high temperatures and its fluidity decreases as the temperature is reduced. Glass does not have a specific melting or freezing point but gradually changes from the solid state to the liquid state as the temperature is increased. This property of variable viscosity is used when glass is formed into objects, whether of beauty or utility.The two manufacturing processes for producing flat glass in the UK are the float glass method and rolling. In rolling a continuous stream of molten glass is poured between water-cooled rollers. Made in England, United Kingdom.

Luggage label, Taff Vale Railway, Penarth Town to Penarth dock.

Promotional material for the film 'Helga', 1967, directed by Erich F Bender and featuring Ruth Gassman.  Motion picture marketing.

Glass bottle of 50 Donnatal tablets (belladonna herb prepared with phenobarbitone and atropine sulphate). 55 mm x 33 mm x 22 mm, 38g. Produced by A.H. Robins, English, 1950-1980. Made in Sussex, England, United Kingdom.

Made in England, United Kingdom. Metal model of a pole on a green circular base with a square white top, made by Britains Ltd, made in England, 1907-1970, used in Margaret Lowenfeld's "World technique", 1920-1970. Toy - recreational artefact.

Black-and-white print - photograph. Made in Manchester, Manchester urban district, Greater Manchester, England, United Kingdom. Two copy photographs of an atom-track, showing the creation of a meson, supplied by University of Manchester, England, 1947.

Piece of stem of clay tobacco pipe, maker unknown, made in England(?), 1601-1700.

Gelatin silver print entitled 'Mr and Mrs Lawrence lived with their 3 children in a council owned slum  house.  Mr Lawrence worked on the railways, they had no bathroom.  "I've not the heart to do a thing here.  I have to throw the mouldy things away"'. See interview p.80 'Condemned'. Photograph by Nick Hedges. Made in Winson Green, Birmingham, Borough of Birmingham, West Midlands, England, United Kingdom, 1971-06.

Tongue depressor, wooden, to depress the tongue during the operation of removal of the uvula, Ibi, northern Nigeria, 1880-1909.

STC valve, type 4102D, (RMW/D97B - McVitie Weston number), by Standard Telephones and Cables Limited.

Container, cardboard, contains fruits, Australian. Made 1900-1930.

Railway uniform trousers, style AS; Sample Garment; Black.

Knife, steel, Chinese. Made in China.

Railway survey.  Plan & Section of the Cheltenham & Oxford and London & Birmingham Union Railway. 1836. Captn.W.S.Moorsom, Engineer / David Hodgson. 1836. [Comprises plan (i + 17 sheets) and section (i + 9 sheets). Scales 4" : 1m and 16" : 1m. Engraved by Johnson, Cheltenham].

### Organisations

In [77]:
# from smg_loader
def load_orgs_data(people_data_path):
    # identifier in field_mapping
    table_name = "ORGANISATION"

    org_df = pd.read_csv(people_data_path, low_memory=False, nrows=None)
    # TODO: use isIndividual flag here
    org_df = org_df[org_df["GENDER"] == "N"]

    # PREPROCESS
    org_df["URI"] = people_prefix + org_df["LINK_ID"].astype(str)

#     org_df["BIRTH_DATE"] = org_df["BIRTH_DATE"].apply(get_year_from_date_value)
#     org_df["DEATH_DATE"] = org_df["DEATH_DATE"].apply(get_year_from_date_value)

    org_df[["adlib_id", "adlib_DESCRIPTION", "DESCRIPTION", "NOTE"]] = org_df[
        ["adlib_id", "adlib_DESCRIPTION", "DESCRIPTION", "NOTE"]
    ].fillna("")
    org_df[["DESCRIPTION", "adlib_DESCRIPTION", "NOTE"]] = org_df[
        ["DESCRIPTION", "adlib_DESCRIPTION", "NOTE"]
    ].applymap(datastore_helpers.process_text)
    org_df[["OCCUPATION", "NATIONALITY"]] = org_df[
        ["OCCUPATION", "NATIONALITY"]
    ].applymap(datastore_helpers.split_list_string)

#     org_df["NATIONALITY"] = org_df["NATIONALITY"].apply(
#         lambda x: flatten_list_of_lists(
#             [datastore_helpers.get_country_from_nationality(i) for i in x]
#         )
#     )

    org_df["adlib_id"] = org_df["adlib_id"].apply(
        lambda i: [
            f"https://collection.sciencemuseumgroup.org.uk/people/{x}"
            for x in str(i).split(",")
        ]
        if i
        else ""
    )

    newline = " \n "  # can't insert into fstring below
    org_df.loc[:, "BIOGRAPHY"] = org_df[
        ["DESCRIPTION", "adlib_DESCRIPTION", "NOTE"]
    ].apply(lambda x: f"{newline.join(x)}" if any(x) else "", axis=1)
    
    return org_df

org_df = load_orgs_data(people_data_path)
org_df.head()

    LINK_ID                  PREFERRED_NAME TITLE_NAME FIRSTMID_NAME                   LASTSUFF_NAME SUFFIX_NAME HONORARY_SUFFIX GENDER BRIEF_BIO                                        DESCRIPTION                                               NOTE BIRTH_DATE                                        BIRTH_PLACE DEATH_DATE     DEATH_PLACE CAUSE_OF_DEATH NATIONALITY                                  OCCUPATION WEBSITE  AFFILIATION  LINGUISTIC_GROUP TYPE  REFERENCE_NUMBER SOURCE CREATE_DATE UPDATE_DATE adlib_id adlib_ALIAS adlib_DESCRIPTION                                                URI                                          BIOGRAPHY
0     10243           Brooklyn Arms Company        NaN           NaN           Brooklyn Arms Company         NaN             NaN      N         Y                                                                              object record: 1987-1020    c. 1870  Brooklyn, New York, New York state, United States        NaN             NaN            NaN  [american]  [manufacturer of mathematical instruments]     NaN          NaN               NaN  NaN               NaN      N   28-Jan-98   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...                    \n  \n object record: 1987-1020
6      1036          British Railways Board        NaN           NaN          British Railways Board         NaN             NaN      N         Y  Created by the 1962 Transport Act as a success...  REF: http://www.ndad.nationalarchives.gov.uk/A...       1962                                     United Kingdom       1996  United Kingdom            NaN   [british]                             [railway board]     NaN          NaN               NaN  NaN               NaN      Y   08-Jun-96   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...  Created by the 1962 Transport Act as a success...
8      1040  A Clarkson and Company Limited        NaN           NaN  A Clarkson and Company Limited         NaN             NaN      N         Y                                                                                1996-218 object record        NaN                                     United Kingdom        NaN             NaN            NaN   [british]                                  [supplier]     NaN          NaN               NaN  NaN               NaN      N   10-Jun-96   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...                      \n  \n 1996-218 object record
12    10769        London School of Weaving        NaN           NaN        London School of Weaving         NaN             NaN      N         Y  1898 - Founded by Katie Grasett.  1932 - Londo...                                                          1898    London, Greater London, England, United Kingdom       1970             NaN            NaN   [british]                    [training establishment]     NaN          NaN               NaN  NaN               NaN      Y   05-Feb-98   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...  1898 - Founded by Katie Grasett.  1932 - Londo...
14     1083          James G Biddle Company        NaN           NaN          James G Biddle Company         NaN             NaN      N         N                                                                                                              NaN                                      United States        NaN             NaN            NaN  [american]      [manufacturer of electrical equipment]     NaN          NaN               NaN  NaN               NaN      N   14-Jun-96   02-Nov-15                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...

In [95]:
def create_org_disambiguating_description(row: pd.Series) -> str:
    """
    Original description col = BIOGRAPHY.
    Components:
    - NATIONALITY + OCCUPATION -> 'British Railway Board'
    - BIRTH_DATE + BIRTH_PLACE -> 'Founded 1962, United Kingdom'
    - DEATH_DATE + DEATH_PLACE -> 'Dissolved 1996.' (Add place if no overlap between 
        BIRTH_PLACE and DEATH_PLACE strings. Joined to founded string above)
    - BIOGRAPHY (original description)
    """
    
    # NATIONALITY + OCCUPATION (only uses first of each)
    nationality = str(row['NATIONALITY'][0])
    occupation = str(row['OCCUPATION'][0])
    add_nationality = (nationality != "nan") and (nationality.lower() not in row.BIOGRAPHY.lower())
    add_occupation = (occupation != "nan") and (occupation.lower() not in row.BIOGRAPHY.lower())
    
    if add_nationality and add_occupation:
        nationality_occupation_str = f"{nationality.strip().title()} {occupation.strip()}."
    elif add_nationality:
        nationality_occupation_str = f"{nationality.strip().title()}."
    elif add_occupation:
        nationality_occupation_str = f"{occupation.strip().capitalize()}."
    else:
        nationality_occupation_str = ""
        
    # BIRTH_PLACE + BIRTH_DATE
    add_birth_place = (str(row['BIRTH_PLACE']) != "nan") and (str(row['BIRTH_PLACE']).lower() not in row.BIOGRAPHY.lower())
    add_birth_date = (str(row['BIRTH_DATE']) != "nan") and (str(row['BIRTH_DATE']).lower() not in row.BIOGRAPHY.lower())
    # Also check for dates minus suffixes, e.g. 200-250 should match with 200-250 AD and vice-versa
    if re.findall(r"\d+-?\d*", str(row['BIRTH_DATE'])):
        add_birth_date = add_birth_date and (re.findall(r"\d+-?\d*", row['BIRTH_DATE'])[0].lower() not in row.BIOGRAPHY.lower())
    
    if add_birth_place and add_birth_date:
        founded_str = f"Founded in {row.BIRTH_PLACE.strip()}, {row.BIRTH_DATE.strip()}."
    elif add_birth_place:
        founded_str = f"Founded in {row.BIRTH_PLACE.strip()}."
    elif add_birth_date:
        founded_str = f"Founded {row.BIRTH_DATE.strip()}."
    else:
        founded_str = ""
        
    # DEATH_PLACE + DEATH_DATE
    add_death_place = (str(row['DEATH_PLACE']) != "nan") and (str(row['DEATH_PLACE']).lower() not in row.BIOGRAPHY.lower()) and \
    (str(row['DEATH_PLACE']) not in str(row['BIRTH_PLACE'])) and (str(row['BIRTH_PLACE']) not in str(row['DEATH_PLACE']))
    add_death_date = (str(row['DEATH_DATE']) != "nan") and (str(row['DEATH_DATE']).lower() not in row.BIOGRAPHY.lower())
    # Also check for dates minus suffixes, e.g. 200-250 should match with 200-250 AD and vice-versa
    if re.findall(r"\d+-?\d*", str(row['DEATH_DATE'])):
        add_death_date = add_death_date and (re.findall(r"\d+-?\d*", row['DEATH_DATE'])[0].lower() not in row.BIOGRAPHY.lower())
    
    if add_death_place and add_death_date:
        dissolved_str = f"Dissolved in {row.DEATH_PLACE.strip()}, {row.DEATH_DATE.strip()}."
    elif add_death_place:
        dissolved_str = f"Dissolved in {row.DEATH_PLACE.strip()}."
    elif add_death_date:
        dissolved_str = f"Dissolved {row.DEATH_DATE.strip()}."
    else:
        dissolved_str = ""
    
    # Assemble 
    dates_str = " ".join([founded_str, dissolved_str]).strip()
    
    # add space and full stop (if needed) to end of description
    if row.BIOGRAPHY:
        description = (row.BIOGRAPHY.strip() if row.BIOGRAPHY.strip()[-1] == "." else f"{row.BIOGRAPHY.strip()}.")
    else:
        description = ""
    
    # we shuffle the components of the description so any model using them does not learn the order that we put them in
    aug_description_components = [nationality_occupation_str, description, dates_str]
    random.shuffle(aug_description_components)
    
    return (" ".join(aug_description_components)).strip()

for _, row in org_df.sample(20).iterrows():
    print(create_org_disambiguating_description(row))
    print("--")

1988-550/33; 34; 40; 41; 42; 43; 56; 59: - Object Description
 Chicago-based publisher of educational materials, founded in 1938. The company was purchased by IBM in 1964 and continued to operate as a subsidary. It was again purchased by Maxwell Communications Corporation in 1988, later becoming part of McGraw-Hill in 1989.
--
British manufacturer.  SOURCE:  1972-141/1231

 No information on maker found on radiomuseum.org, or in internet searches. The valves may be made by another maker and Vacuum Science Products may be the vendor under licence, as was common with for instance RCA Corporation valves.
--
Manufacturer of pharamceuticals.  http://www.pfizer.com/about/leadership_and_structure/company_fact_sheet.jsp http://en.wikipedia.org/wiki/Pfizer

 Established in 1849 by cousins Charles Pfizer and Charles Erhart in Brooklyn, New York; developed products through intensive pharmaceutical research during the second half of the 20th century; acquired Warner-Lambert (2000) and Pharmacia (2003).  Ranked one of the highest pharmaceutical manufacturers in the world (based on sales-2008) producing drugs such as: Lipitor (atorvastatin, used to lower blood cholesterol); the neuropathic pain/fibromyalgia drug Lyrica (pregabalin); the oral antifungal medication Diflucan (fluconazole), the long-acting antibiotic Zithromax (azithromycin), and the erectile dysfunction drug Viagra; they now also specialise in veterinary prescription medicines having merged with Wyeth's Fort Dodge Animal Health. They now have organisations throughout the world.
--
http://www.rockefeller.edu/history.php

 1965 - University formed from Rockefeller Institute for Medical Research. American. Founded in New York city, New York state, United States.
--
Indian railway company. http://en.wikipedia.org/wiki/Bombay,_Baroda,_and_Central_India_Railway

 The Bombay, Baroda, and Central India Railway (BB&CI) was a company incorporated in 1855 to undertake the task of constructing a railway line between Bombay and Surat in India. BB&CI completed the work in 1864. On 5 November 1951 the Bombay, Baroda, and Central India Railway was merged with the Saurashtra, Rajputana and Jaipur railways to give rise to the Western Railway. Dissolved 05/11/1951.
--
British printer. taken from object description. Founded in Darlington, Darlington, England, United Kingdom.
--
Railway company. Founded in Cheshire, England, United Kingdom, 1862. Dissolved 31/12/1922. WIKI http://en.wikipedia.org/wiki/Cheshire_Lines_Committee http://www.steamindex.com/locotype/jointrly.htm
 The Cheshire Lines Committee (CLC) was formed as a result of a number of railway companies operating independent lines in the Cheshire and Wirral area. Eventually six railways came under the control of the Committee which had members representing the Manchester, Sheffield & Lincolnshire and the Great Northern Railways who were the owners of the lines. The Midland Railway became an equal partner in 1866.   The Committee came into effect following the passing of the Cheshire Lines Transfer Act in 1865. There were additional lines added over the years and the Committee remained in control of the lines up until the Nationalisation of the railways in January 1948.
 The Cheshire Lines Committee was the second largest joint railway in Great Britain. In their publicity material, the company was styled as the Cheshire Lines Railway. Initially the Cheshire Lines group had been formed by a joint committee of the Great Northern Railway and the Manchester, Sheffield and Lincolnshire Railway and made official in 1863. However it did not become wholly independant until the Cheshire Lines Act of 1867. In the 1923 grouping, the parent companies became part of the London Midland & Scottish Railways and then in 1948 became part of British Railways. The company retained its identity its own identity up until 1948.
--
http://en.wikipedia.org/wiki/Clogher_Valley_Railway

 The 37-mile long narrow gauge railway originally opened in 1887 known as the Clogher Valley Tramway, and changed its legal status and its name to the Clogher Valley Railway in 1894.  A 1922 commission appointed by the Government of Northern Ireland recommended that the loss-making line should be taken over by the Great Northern Railway (Ireland), but that company declined and the Clogher Valley Railway remained independent until it was taken over by a committee of management appointed by Tyrone and Fermanagh County Councils in 1928. British railway company.
--
object records

 active c 1850; 202  High Holborn, London; lithographers. British.
--
Taken from object description. Printer.
--
British railway company. WIKI: http://en.wikipedia.org/wiki/Dundee_and_Arbroath_Railway

 Received its Parliamentary Act on 19 May 1836. It partially opened in October 1838, and fully in April 1840. On 31 August 1848 the Dundee and Perth Railway was authorised to lease the company, with the latter being renamed as Dundee and Perth and Aberdeen Railway Junction Company. In 1862 the company was absorbed with the Scottish North Eastern Railway. Founded in Angus, Scotland, United Kingdom. Dissolved 1880.
--
British manufacturer. from object http://www.msheppard.com/genton.htm.
--
Manufacturer. GRACES GUIDE: http://www.gracesguide.co.uk/Solartron_Electronic_Group.
--
http://members.shaw.ca/bchistorian/cw2-s-names.html accessed 13th January 2011

 Founded by Richard J Steffens. Canadian photography studio.
--
Railway company. Encyclopedia of British Railway Companies WIKI: http://en.wikipedia.org/wiki/Eastern_Counties_Railway

 The line was 126 mile long and stretched between London and Great Yarmouth. It was incorporated into the GER on their formation in 1862. Founded 1836.
--
WIKI: http://www.camerapedia.org/wiki/Korelle 7 September 2009

 Franz Kochmann Fabrik photographischer Apparate founded in Dresden in 1921; manufactured folding and reflex cameras; Franz Kochmann emigrated from Germany in 1931, leading to the renaming of the company as Korelle-Werk G. H. Brandtmann; Dresden factory destroyed during second world war; Korelle-Werke restarted production in 1947, but absorbed by the state-owned VEB WEFO in 1948; WEFO was taken over by VEB Welta-Kamerawerke in 1951, producing the last Korelle-cameras until 1952. Founded in Dresden, Dresden, Saxony, Germany. Camera manufactuer.
--
Founded in Wiesbaden, Darmstadt, Hesse, Germany. Camera manufacturer. WIKI: http://en.wikipedia.org/wiki/Wirgin accessed 11 September 2009

 Wirgin was a German company which is still known for its brands Wirgin and Edixa, and for its camera types like the Edina, the Edinex or the Gewirette. The company was founded by the brothers Heinrich, Max and Josef Wirgin in 1920. They introduced their first distinctive camera in 1927, the Edinex, which they produced also as Adrette for Adox. In 1967 the Franka-Werk was closed. In 1968 Henry Wirgin closed his original company and continued the production of some camera models in a new smaller plant. In 1971, shortly before its closing, the company introduced a quite modern but heavy SLR camera.
--
Founded in Hadley, Shropshire, England, United Kingdom. British. http://www.jsh1949.co.uk/jsh1949/HUDDERSFIELD%20TRAMS.htm http://www.mers.org.im/fleetlist.htm

 Tramcar manufacturer of the late 19th and early 20th century, who operated out of Castle Car Works, in Hadley. Prior to their operation in Hadley they had been located at Cleveland Street Works, Birkenhead. They are thought to have made the move in 1902.
--
Founded in Croydon, Croydon, Greater London, England, United Kingdom. http://en.wikipedia.org/wiki/Railway_Air_Services

 Railway Air Services (RAS) was a British airline formed in March 1934 by four railway companies and Imperial Airways. The airline was a domestic airline operating routes within the United Kingdom linking up with Imperial's services. The airline's main operating base was Croydon Airport pre and post war and at Liverpool Airport 1939-1945. The airline was nationalised on 1 February 1947 and its aircraft and operations became part of British European Airways.
--
Prichard, Michael, 'A Directory of London Photographers 1841-1908' (Watford: PhotoResearch 1994); http://corporate.gettyimages.com/masters2/BeforeAfter.aspx?id=lsc

 Company founded by George Swan Nottage (1823-1885).  Succeeded by London Stereoscopic and Photographic Co. Ltd., which traded until 1922. Photographic archive acquired by Getty Foundation. British. Founded in Cheapside, City of London, London, Greater London, England, United Kingdom.
--

### People

In [101]:
# from smg_loader
def load_people_data(people_data_path):
    """Load data from CSV files """

    def reverse_preferred_name(name: str) -> str:
        if not pd.isnull(name) and len(name.split(",")) == 2:
            return f"{name.split(',')[1].strip()} {name.split(',')[0].strip()}"
        else:
            return name

    # identifier in field_mapping
    table_name = "PERSON"

    people_df = pd.read_csv(people_data_path, low_memory=False)
    # TODO: use isIndividual flag here
    people_df = people_df[people_df["GENDER"].isin(["M", "F"])]

    # PREPROCESS
    people_df["URI"] = people_prefix + people_df["LINK_ID"].astype(str)
    # remove punctuation and capitalise first letter
    people_df["TITLE_NAME"] = people_df["TITLE_NAME"].apply(
        lambda i: str(i)
        .capitalize()
        .translate(str.maketrans("", "", string.punctuation))
    )
    people_df["PREFERRED_NAME"] = people_df["PREFERRED_NAME"].apply(
        reverse_preferred_name
    )
#     people_df["BIRTH_DATE"] = people_df["BIRTH_DATE"].apply(get_year_from_date_value)
#     people_df["DEATH_DATE"] = people_df["DEATH_DATE"].apply(get_year_from_date_value)
    people_df["OCCUPATION"] = people_df["OCCUPATION"].apply(
        datastore_helpers.split_list_string
    )
    people_df["NATIONALITY"] = people_df["NATIONALITY"].apply(
        datastore_helpers.split_list_string
    )
#     people_df["NATIONALITY"] = people_df["NATIONALITY"].apply(
#         lambda x: flatten_list_of_lists(
#             [datastore_helpers.get_country_from_nationality(i) for i in x]
#         )
#     )

#     people_df["BIRTH_PLACE"] = people_df["BIRTH_PLACE"].apply(
#         lambda i: get_wikidata_uri_from_placename(i, False, placename_qid_mapping)
#     )
#     people_df["DEATH_PLACE"] = people_df["DEATH_PLACE"].apply(
#         lambda i: get_wikidata_uri_from_placename(i, False, placename_qid_mapping)
#     )
    people_df[["adlib_id", "adlib_DESCRIPTION", "DESCRIPTION", "NOTE"]] = people_df[
        ["adlib_id", "adlib_DESCRIPTION", "DESCRIPTION", "NOTE"]
    ].fillna("")
    people_df["adlib_id"] = people_df["adlib_id"].apply(
        lambda i: [
            f"https://collection.sciencemuseumgroup.org.uk/people/{x}"
            for x in str(i).split(",")
        ]
        if i
        else ""
    )
    # remove newlines and tab chars
    people_df.loc[:, ["DESCRIPTION", "adlib_DESCRIPTION", "NOTE"]] = people_df.loc[
        :, ["DESCRIPTION", "adlib_DESCRIPTION", "NOTE"]
    ].applymap(datastore_helpers.process_text)

    # create combined text fields
    newline = " \n "  # can't insert into fstring below
    people_df.loc[:, "BIOGRAPHY"] = people_df[
        ["DESCRIPTION", "adlib_DESCRIPTION", "NOTE"]
    ].apply(lambda x: f"{newline.join(x)}" if any(x) else "", axis=1)

#     people_df.loc[:, "GENDER"] = people_df.loc[:, "GENDER"].replace(
#         {"F": WD.Q6581072, "M": WD.Q6581097}
#     )
    
    return people_df

people_df = load_people_data(people_data_path)
people_df.head()

   LINK_ID         PREFERRED_NAME TITLE_NAME  FIRSTMID_NAME LASTSUFF_NAME SUFFIX_NAME HONORARY_SUFFIX GENDER BRIEF_BIO                                        DESCRIPTION                                               NOTE  BIRTH_DATE                                        BIRTH_PLACE  DEATH_DATE                                        DEATH_PLACE CAUSE_OF_DEATH         NATIONALITY                                 OCCUPATION WEBSITE  AFFILIATION  LINGUISTIC_GROUP TYPE  REFERENCE_NUMBER SOURCE CREATE_DATE UPDATE_DATE adlib_id adlib_ALIAS adlib_DESCRIPTION                                                URI                                          BIOGRAPHY
1    10245  Edward Rupert Zenthon        Nan  Edward Rupert       Zenthon         NaN             NaN      M         Y  REF: http://www.iwm.org.uk/collections/item/ob...                                                        1920-07    London, Greater London, England, United Kingdom     c. 2002                                                NaN            NaN           [british]                                 [engineer]     NaN          NaN               NaN  NaN               NaN      N   28-Jan-98   05-Aug-15                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...  REF: http://www.iwm.org.uk/collections/item/ob...
2    10269         John Troughton        Nan           John     Troughton         NaN             NaN      M         Y  1739 - Born in Corney, Cumbria, England; Appre...  ODNB: Anita McConnell, ‘Troughton, Edward (175...        1739  Broughton in Furness, Cumbria, England, United...        1807    London, Greater London, England, United Kingdom            NaN  [english, british]            [mathematical instrument maker]     NaN          NaN               NaN  NaN               NaN      N   28-Jan-98   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...  1739 - Born in Corney, Cumbria, England; Appre...
3     1027         O Winston Link        Nan      O Winston          Link         NaN             NaN      M         Y                                                     WIKI: http://en.wikipedia.org/wiki/O._Winston_...  16/12/1914  Brooklyn, New York city, New York state, Unite...  30/01/2001  South Salem, Westchester county, New York stat...   heart attack          [american]                             [photographer]     NaN          NaN               NaN  NaN               NaN      N   08-Jun-96   07-Nov-19                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...   \n  \n WIKI: http://en.wikipedia.org/wiki/O._...
4     1030       Stanley V Walton        Nan      Stanley V        Walton         NaN             NaN      M         N                                                                              object record: 1996-7033         NaN                                                NaN         NaN                                                NaN            NaN           [british]                     [railway photographer]     NaN          NaN               NaN  NaN               NaN      N   08-Jun-96   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...                    \n  \n object record: 1996-7033
5    10343       Archibald Turner        Nan      Archibald        Turner         NaN             NaN      M         Y  about 1840 - moved to Leicester  by 1846 - est...  TNA: http://discovery.nationalarchives.gov.uk/...         NaN                                     United Kingdom        1876                                                NaN            NaN           [british]  [manufacturer of fancy hosiery, inventor]     NaN          NaN               NaN  NaN               NaN      N   29-Jan-98   06-Nov-18                  NaN                    https://collection.sciencemuseumgroup.org.uk/p...  about 1840 - moved to Leicester  by 1846 - est...

In [114]:
def create_people_disambiguating_description(row: pd.Series) -> str:
    """
    Original description col = BIOGRAPHY.
    Components:
    - NATIONALITY + OCCUPATION -> 'American photographer.'
    - BIRTH_DATE + BIRTH_PLACE -> 'Born 1962, United Kingdom.'
    - DEATH_DATE + DEATH_PLACE + CAUSE_OF_DEATH -> 'Died 1996 of heart attack.' (Add place if no overlap between 
        BIRTH_PLACE and DEATH_PLACE strings. Joined to founded string above)
    - BIOGRAPHY (original description)
    """
    
    # NATIONALITY + OCCUPATION (only uses first of each)
    nationality = str(row['NATIONALITY'][0])
    occupation = str(row['OCCUPATION'][0])
    add_nationality = (nationality != "nan") and (nationality.lower() not in row.BIOGRAPHY.lower())
    add_occupation = (occupation != "nan") and (occupation.lower() not in row.BIOGRAPHY.lower())
    
    if add_nationality and add_occupation:
        nationality_occupation_str = f"{nationality.strip().title()} {occupation.strip()}."
    elif add_nationality:
        nationality_occupation_str = f"{nationality.strip().title()}."
    elif add_occupation:
        nationality_occupation_str = f"{occupation.strip().capitalize()}."
    else:
        nationality_occupation_str = ""
        
    # BIRTH_PLACE + BIRTH_DATE
    add_birth_place = (str(row['BIRTH_PLACE']) != "nan") and (str(row['BIRTH_PLACE']).lower() not in row.BIOGRAPHY.lower())
    add_birth_date = (str(row['BIRTH_DATE']) != "nan") and (str(row['BIRTH_DATE']).lower() not in row.BIOGRAPHY.lower())
    
    # Also check for dates minus suffixes, e.g. 200-250 should match with 200-250 AD and vice-versa
    if re.findall(r"\d+-?\d*", str(row['BIRTH_DATE'])):
        add_birth_date = add_birth_date and (re.findall(r"\d+-?\d*", row['BIRTH_DATE'])[0].lower() not in row.BIOGRAPHY.lower())
    
    if add_birth_place and add_birth_date:
        founded_str = f"Born in {row.BIRTH_PLACE.strip()}, {row.BIRTH_DATE.strip()}."
    elif add_birth_place:
        founded_str = f"Born in {row.BIRTH_PLACE.strip()}."
    elif add_birth_date:
        founded_str = f"Born {row.BIRTH_DATE.strip()}."
    else:
        founded_str = ""
        
    # DEATH_PLACE + DEATH_DATE
    add_death_place = (str(row['DEATH_PLACE']) != "nan") and (str(row['DEATH_PLACE']).lower() not in row.BIOGRAPHY.lower()) and \
    (str(row['DEATH_PLACE']) not in str(row['BIRTH_PLACE'])) and (str(row['BIRTH_PLACE']) not in str(row['DEATH_PLACE']))
    add_death_date = (str(row['DEATH_DATE']) != "nan") and (str(row['DEATH_DATE']).lower() not in row.BIOGRAPHY.lower())
    # Also check for dates minus suffixes, e.g. 200-250 should match with 200-250 AD and vice-versa
    if re.findall(r"\d+-?\d*", str(row['DEATH_DATE'])):
        add_death_date = add_death_date and (re.findall(r"\d+-?\d*", row['DEATH_DATE'])[0].lower() not in row.BIOGRAPHY.lower())
    
    cause_of_death = str(row['CAUSE_OF_DEATH']).strip()
    add_cause_of_death = (cause_of_death != "nan") and (cause_of_death.lower() not in row.BIOGRAPHY.lower())
    if cause_of_death.startswith("illness (") and cause_of_death.endswith(")"):
        cause_of_death = cause_of_death.split("(")[1][0:-1]
    
    if add_death_place and add_death_date:
        dissolved_str = f"Died in {row.DEATH_PLACE.strip()}, {row.DEATH_DATE.strip()}."
    elif add_death_place:
        dissolved_str = f"Died in {row.DEATH_PLACE.strip()}."
    elif add_death_date:
        dissolved_str = f"Died {row.DEATH_DATE.strip()}."
    else:
        dissolved_str = ""
        
    if add_cause_of_death and (add_death_date or add_death_place):
        dissolved_str = dissolved_str[0:-1] + " of " + row.CAUSE_OF_DEATH.lower().strip() + "."
    elif add_cause_of_death:
        dissolved_str += f"Cause of death was {row.CAUSE_OF_DEATH.lower().strip()}."
    
    # Assemble 
    dates_str = " ".join([founded_str, dissolved_str]).strip()
    
    # add space and full stop (if needed) to end of description
    if row.BIOGRAPHY:
        description = (row.BIOGRAPHY.strip() if row.BIOGRAPHY.strip()[-1] == "." else f"{row.BIOGRAPHY.strip()}.")
    else:
        description = ""
    
    # we shuffle the components of the description so any model using them does not learn the order that we put them in
    aug_description_components = [nationality_occupation_str, description, dates_str]
    random.shuffle(aug_description_components)
    
    return (" ".join(aug_description_components)).strip()

for _, row in people_df.sample(20).iterrows():
    print(row.PREFERRED_NAME.upper())
    print(row.BIOGRAPHY.strip())
    print("-")
    print(create_people_disambiguating_description(row))
    print("--")

M ABEL
object 1977-381

 issued token in Bungay, Suffolk
-
British token issuer.  object 1977-381

 issued token in Bungay, Suffolk.
--
CASPAR VOPEL
Source: www.mhs.ox.ac.uk/epact/maker.php?MakerID=31
-
Source: www.mhs.ox.ac.uk/epact/maker.php?MakerID=31. Born in Medebach, Germany, 1511. Died 1561. German cartographer.
--
JULIE EASLEY

-

--
WILLIAM MACKENZIE
ODNB: Mike Chrimes, ‘Mackenzie, William (1794–1851)’, Oxford Dictionary of National Biography, Oxford University Press, Sept 2004; online edn, May 2009 http://www.oxforddnb.com/view/article/50205, accessed 8 June 2009

 railway contractor
-
ODNB: Mike Chrimes, ‘Mackenzie, William (1794–1851)’, Oxford Dictionary of National Biography, Oxford University Press, Sept 2004; online edn, May 2009 http://www.oxforddnb.com/view/article/50205, accessed 8 June 2009

 railway contractor. Born in Nelson, Lancashire, England, United Kingdom, 1794-03-20. Died in Liverpool, Liverpool, Merseyside, England, United Kingdom, 1851-10-29. British civil engineer.
--
WILLIAM ERNEST HENLEY
The Gloucester-born poet William Henley is perhaps best known as the inspiration behind the literary figure Long John Silver in Treasure Island. He was close friend of Robert Louis Stevenson, with whom he wrote three plays in the 1890s. While he was still a boy, Henley’s life was threatened after he developed tuberculosis of the bone. As the disease progressed, he had one of his legs amputated just below the knee. When physicians suggested his other leg be amputated, Henley sought alternative treatment. He was admitted to Edinburgh Royal Infirmary, where he was treated by Joseph Lister, using his antiseptic surgical methods. Over the next few years, Lister eventually saved Henley’s leg, and possibly his life.  Henley's period of hospitalisation and his experiences as a patient in Edinburgh Royal Infirmary are recorded in his poem 'In Hospital' (1874). The poem describes the experience of hospitalisation from admission to discharge and, among other things, charts the rise of the Nightingale-style nurse in the second half of the1800s. Following his recovery in 1889, Henley became editor of the Scots Observer. Transferred to London and renamed the National Observer, the journal remained under Henley’s editorship until 1893. His literary connections led his daughter to be similarly immortalised, as Wendy in J M Barrie’s classic, Peter Pan. Unlike her father, she died while still a child. Both daughter and father were buried in the churchyard in Cockayne Hatley, Bedfordshire.
-
British. Born in Gloucester, Gloucestershire, England, United Kingdom, 1849. Died 1903. The Gloucester-born poet William Henley is perhaps best known as the inspiration behind the literary figure Long John Silver in Treasure Island. He was close friend of Robert Louis Stevenson, with whom he wrote three plays in the 1890s. While he was still a boy, Henley’s life was threatened after he developed tuberculosis of the bone. As the disease progressed, he had one of his legs amputated just below the knee. When physicians suggested his other leg be amputated, Henley sought alternative treatment. He was admitted to Edinburgh Royal Infirmary, where he was treated by Joseph Lister, using his antiseptic surgical methods. Over the next few years, Lister eventually saved Henley’s leg, and possibly his life.  Henley's period of hospitalisation and his experiences as a patient in Edinburgh Royal Infirmary are recorded in his poem 'In Hospital' (1874). The poem describes the experience of hospitalisation from admission to discharge and, among other things, charts the rise of the Nightingale-style nurse in the second half of the1800s. Following his recovery in 1889, Henley became editor of the Scots Observer. Transferred to London and renamed the National Observer, the journal remained under Henley’s editorship until 1893. His literary connections led his daughter to be similarly immortalised, as Wendy in J M Barrie’s classic, Peter Pan. Unlike her father, she died while still a child. Both daughter and father were buried in the churchyard in Cockayne Hatley, Bedfordshire.
--
LEONARD R. SQUIRRELL
Union List of Artist Names Online : The J. Paul Getty Trust: ID: 500009151 Walpole, Josephine, Leonard Squirrell R.W.S., R.E. The Last of the Norwich School?, (Anitque Collectors Club, Suffolk), 1993?

 Studied at Ipswich School of Art and won a British Institute Scholarship to the Slade.
-
Union List of Artist Names Online : The J. Paul Getty Trust: ID: 500009151 Walpole, Josephine, Leonard Squirrell R.W.S., R.E. The Last of the Norwich School?, (Anitque Collectors Club, Suffolk), 1993?

 Studied at Ipswich School of Art and won a British Institute Scholarship to the Slade. Born 1893. Died 1979.
--
LAWRENCE HARGRAVE
Australian Dictionary of Biography: Inglis, Amirah, 'Hargrave, Lawrence (1850–1915)', Australian Dictionary of Biography, National Centre of Biography, Australian National University, http://adb.anu.edu.au/biography/hargrave-lawrence-6563/text11287, accessed 4 May 2012.  http://www.britannica.com/eb/article-9039258/Lawrence-Hargrave; http://en.wikipedia.org/wiki/Lawrence_Hargrave

 1856 - his father travelled to New South Wales with several of Lawrence's siblings.  1865 - along with his mother and the rest of his siblings, immigrated to Sydney.  1867 - was apprenticed in the engineering workshops of the Australasian Steam Navigation Co.  1872 - sailed for New Guinea aboard the unseaworthy brig Maria which struck Bramble reef and sank with a great loss of life.  1877 - elected a member of the Royal Society of New South Wales.  1879  - worked as the extra observer (astronomical) at Sydney Observatory.   1881 - observed the transit of Mercury.  1883  - due to the income from private investments in mining, he gave up paid employment and became a gentleman-inventor.  1884 - submitted a paper called Trochoided Plane to the Royal Society in which he expounded his theory of flight.  1887 - began to work on the problem of a machine heavy enough to carry a man's weight.  1889 - built a compressed air engine powered by an arrangement of three rotating cylinders which was one of the great inventions of his career.  1892 - began experiments into the behaviour of curved surfaces for the wings of his flying machines.  1894 - lifted himself from the beach at Stanwell Park, Sydney, in a four kite construction, attached to the ground by piano wire.  1909 - became first vice-president of the New South Wales section of the Aerial League of Australia.  Presented to the Royal Society his elaborately constructed, circumstantial and obsessively held Lope de Vega theory, many years in the forming, that two Spanish ships, the Santa Ysabel and Santa Barbara, had found their way into Sydney Harbour, stayed several years and left in 1600, only to be wrecked on their voyage home.  1966-1994 - featured on the obverse of the Australian $20 note.
-
Australian Dictionary of Biography: Inglis, Amirah, 'Hargrave, Lawrence (1850–1915)', Australian Dictionary of Biography, National Centre of Biography, Australian National University, http://adb.anu.edu.au/biography/hargrave-lawrence-6563/text11287, accessed 4 May 2012.  http://www.britannica.com/eb/article-9039258/Lawrence-Hargrave; http://en.wikipedia.org/wiki/Lawrence_Hargrave

 1856 - his father travelled to New South Wales with several of Lawrence's siblings.  1865 - along with his mother and the rest of his siblings, immigrated to Sydney.  1867 - was apprenticed in the engineering workshops of the Australasian Steam Navigation Co.  1872 - sailed for New Guinea aboard the unseaworthy brig Maria which struck Bramble reef and sank with a great loss of life.  1877 - elected a member of the Royal Society of New South Wales.  1879  - worked as the extra observer (astronomical) at Sydney Observatory.   1881 - observed the transit of Mercury.  1883  - due to the income from private investments in mining, he gave up paid employment and became a gentleman-inventor.  1884 - submitted a paper called Trochoided Plane to the Royal Society in which he expounded his theory of flight.  1887 - began to work on the problem of a machine heavy enough to carry a man's weight.  1889 - built a compressed air engine powered by an arrangement of three rotating cylinders which was one of the great inventions of his career.  1892 - began experiments into the behaviour of curved surfaces for the wings of his flying machines.  1894 - lifted himself from the beach at Stanwell Park, Sydney, in a four kite construction, attached to the ground by piano wire.  1909 - became first vice-president of the New South Wales section of the Aerial League of Australia.  Presented to the Royal Society his elaborately constructed, circumstantial and obsessively held Lope de Vega theory, many years in the forming, that two Spanish ships, the Santa Ysabel and Santa Barbara, had found their way into Sydney Harbour, stayed several years and left in 1600, only to be wrecked on their voyage home.  1966-1994 - featured on the obverse of the Australian $20 note. English aviation pioneer. Born in Greenwich, London, Greater London, England, United Kingdom, 1850-01-29. Died in Darlinghurst, Sydney, New South Wales, Australia, 14/07/1915 of peritonitis following an operation for appendicitis.
--
ALPHEE DUBOIS
WIKI: http://fr.wikipedia.org/wiki/Alph%C3%A9e_Dubois
-
French artist. WIKI: http://fr.wikipedia.org/wiki/Alph%C3%A9e_Dubois. Born in Paris, Ville de Paris, Ile-de-France, France, 1831-01-17. Died in Hauts-de-Seine, Ile-de-France, France, 06/09/1905.
--
DR RICHARD SELIGMAN
www.blackwell-synergy.com; http://www.telegraph.co.uk/news/

 A Metallurgist of international reputation.  In 1910 founded the APV Company Limited manufacturer of industrial equipment, mainly for food and drink processing.  Father of Adrian Seligman, master mariner, naval officer and author.
-
Born 20/09/1972. www.blackwell-synergy.com; http://www.telegraph.co.uk/news/

 A Metallurgist of international reputation.  In 1910 founded the APV Company Limited manufacturer of industrial equipment, mainly for food and drink processing.  Father of Adrian Seligman, master mariner, naval officer and author. British.
--
RAPHAEL T ROUSSEL
NRM Pictorial Coll REF: http://www.nla.gov.au/exhibitions/sun/artists/roussel.html  REF: http://www.artbiogs.co.uk/1/artists/roussel-raphael-theodore

 Designed and constructed dioramas. Son of Theodore Roussel, French painter and etcher
-
British poster artist. NRM Pictorial Coll REF: http://www.nla.gov.au/exhibitions/sun/artists/roussel.html  REF: http://www.artbiogs.co.uk/1/artists/roussel-raphael-theodore

 Designed and constructed dioramas. Son of Theodore Roussel, French painter and etcher. Born in Chelsea, Kensington and Chelsea, London, Greater London, England, United Kingdom, 1883. Died 1967.
--
PIERRE OSSIAN BONNET
WIKI: http://en.wikipedia.org/wiki/Pierre_Ossian_Bonnet
-
French mathematician. WIKI: http://en.wikipedia.org/wiki/Pierre_Ossian_Bonnet. Born in Montpellier, Herault, Languedoc-Roussillon, France, 1819-12-22. Died 1892-06-22.
--
FRANK HEDGES BUTLER
H. A. Jones, ‘Butler, Frank Hedges (1855–1928)’, rev. Julian Lock, Oxford Dictionary of National Biography, Oxford University Press, 2004; online edn, May 2007 [http://www.oxforddnb.com/view/article/32210] Frank Hedges Butler (1855–1928): doi:10.1093/ref:odnb/32210
-
Born in London, Greater London, England, United Kingdom, 1855-12-17. Died 27/11/1928. British writer. H. A. Jones, ‘Butler, Frank Hedges (1855–1928)’, rev. Julian Lock, Oxford Dictionary of National Biography, Oxford University Press, 2004; online edn, May 2007 [http://www.oxforddnb.com/view/article/32210] Frank Hedges Butler (1855–1928): doi:10.1093/ref:odnb/32210.
--
ARMAND TROUSSEAU
http://en.wikipedia.org/wiki/Armand_Trousseau
-
French physician. http://en.wikipedia.org/wiki/Armand_Trousseau. Born 1801. Died 1867.
--
SIR ROBERT PEEL

-

--
C. ARNOLD BEEVERS
http://bca.cryst.bbk.ac.uk/bca/obits/CVS/CAB.html
-
http://bca.cryst.bbk.ac.uk/bca/obits/CVS/CAB.html. Born 1908. Died 2001. British physicist.
--
JOSEPH BREITENBACH
ULAN: http://www.getty.edu/vow/ULANFullDisplay?find=breitenbach&role=&nation=&prev_page=1&subjectid=500037093     2004

 Joseph (Josef) Breitenbach, photographer, photojournalist and portraitist, born Munich in 1896; moved to Paris in 1933 where established school of photography; early use of colour, photocollages; emigrated to America in 1941, naturalised in 1946; taught photography at New School for Social Research, New York, 1948-1949; worked in Korea 1952-1953.
-
Born in Munich, Oberbayern, Bavaria, Germany, 1896-04-03. Died 07/10/1984. American. ULAN: http://www.getty.edu/vow/ULANFullDisplay?find=breitenbach&role=&nation=&prev_page=1&subjectid=500037093     2004

 Joseph (Josef) Breitenbach, photographer, photojournalist and portraitist, born Munich in 1896; moved to Paris in 1933 where established school of photography; early use of colour, photocollages; emigrated to America in 1941, naturalised in 1946; taught photography at New School for Social Research, New York, 1948-1949; worked in Korea 1952-1953.
--
LOUISE BOURGEOIS
http://fn.bmjjournals.com/cgi/content/abstract/89/2/F185

 the first practicing midwife to write of her experience of childbirth and of women’s problems. She did much to enhance the respect in which her craft was held. For 26 years she was midwife to the royal court.
-
French. http://fn.bmjjournals.com/cgi/content/abstract/89/2/F185

 the first practicing midwife to write of her experience of childbirth and of women’s problems. She did much to enhance the respect in which her craft was held. For 26 years she was midwife to the royal court. Born 1563. Died 1636.
--
J CATNACH
1830s? - located at 2 Monmouth Court, Seven Dials, London
-
British printer. 1830s? - located at 2 Monmouth Court, Seven Dials, London. Born in London, Greater London, England, United Kingdom.
--
THOMAS CHAPMAN BROWNE
http://books.google.co.uk/books?id=WMpxsP_SKdAC&pg=PA14&lpg=PA14&dq=T+Chapman+Browne+Leicester&source=bl&ots=AY4qtkHh6e&sig=ByMP4AkBdSwJ2W8_CJAqC61Fmhw&hl=en&sa=X&ei=uSV5UuH7NePS0QXr24C4BQ&ved=0CDMQ6AEwAQ#v=onepage&q=T%20Chapman%20Browne%20Leicester&f=false page 14, 'Victorian Photographers at Work: A History in Camera', by John Hannavy, Shire Publications, 1997 http://www.early-photographers.org.uk/Leics%20B.html accessed 5 November 2013

 Daguerreotypist, photographer, printer, bookseller; born Leicester 1819; took control of family printing business in 1841; established Leicester's first photographic studio at Bible & Crown Works, 36 Market Place, Leicester, in 1844 in partnership with Joseph Jenkins Hewitt; Browne became sole proprietor in 1848; still active at Bible & Crown until 1876 when retired from photography; continued to trade as a dealer in fine art until his death in 1899
-
http://books.google.co.uk/books?id=WMpxsP_SKdAC&pg=PA14&lpg=PA14&dq=T+Chapman+Browne+Leicester&source=bl&ots=AY4qtkHh6e&sig=ByMP4AkBdSwJ2W8_CJAqC61Fmhw&hl=en&sa=X&ei=uSV5UuH7NePS0QXr24C4BQ&ved=0CDMQ6AEwAQ#v=onepage&q=T%20Chapman%20Browne%20Leicester&f=false page 14, 'Victorian Photographers at Work: A History in Camera', by John Hannavy, Shire Publications, 1997 http://www.early-photographers.org.uk/Leics%20B.html accessed 5 November 2013

 Daguerreotypist, photographer, printer, bookseller; born Leicester 1819; took control of family printing business in 1841; established Leicester's first photographic studio at Bible & Crown Works, 36 Market Place, Leicester, in 1844 in partnership with Joseph Jenkins Hewitt; Browne became sole proprietor in 1848; still active at Bible & Crown until 1876 when retired from photography; continued to trade as a dealer in fine art until his death in 1899. Born in Leicester, Leicester, England, United Kingdom. British.
--
PIUS VIII
WIKI:
-
Born in Marche, Papal States, 1761-11-20. Died 1830-11-30. Italian pope. WIKI:.
--