In [1]:
%load_ext autoreload
%autoreload 2

In [45]:
import sys
sys.path.append("..")

from heritageconnector.entity_matching.filter import Filter
import pandas as pd
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_columns', None)

In [46]:
df = pd.read_pickle("../GITIGNORE_DATA/lookup_result.pkl")

df.head(2)

,LINK_ID,PREFERRED_NAME,TITLE_NAME,FIRSTMID_NAME,LASTSUFF_NAME,SUFFIX_NAME,HONORARY_SUFFIX,GENDER,BRIEF_BIO,DESCRIPTION,NOTE,BIRTH_DATE,BIRTH_PLACE,DEATH_DATE,DEATH_PLACE,CAUSE_OF_DEATH,NATIONALITY,OCCUPATION,WEBSITE,AFFILIATION,LINGUISTIC_GROUP,TYPE,REFERENCE_NUMBER,SOURCE,CREATE_DATE,UPDATE_DATE,res_ALL_NOTES,res_WIKIDATA_IDs,res_URLS
0,10243,Brooklyn Arms Company,NaN,NaN,Brooklyn Arms Company,NaN,NaN,N,Y,nan,object record: 1987-1020,c. 1870,"Brooklyn, New York, New York state, United States",NaN,NaN,NaN,American,manufacturer of mathematical instruments,NaN,NaN,NaN,NaN,NaN,N,28-JAN-98,06-NOV-18,nan --- object record: 1987-1020,[],[]
1,10245,"Zenthon, Edward Rupert",NaN,Edward Rupert,Zenthon,NaN,NaN,M,Y,REF: http://www.iwm.org.uk/collections/item/object/1030031461,nan,1920-07,"London, Greater London, England, United Kingdom",c. 2002,NaN,NaN,British,engineer,NaN,NaN,NaN,NaN,NaN,N,28-JAN-98,05-AUG-15,REF: http://www.iwm.org.uk/collections/item/object/1030031461 --- nan,[],[http://www.iwm.org.uk/collections/item/object/1030031461]

### Resolving people

In [241]:
df_people = df[df['GENDER'].isin(['M', 'F'])].copy()
df_people_small = df_people.head(600)

In [281]:
f = Filter(df_people, "res_WIKIDATA_IDs")

  0%|          | 0/73 [00:00<?, ?it/s]

Getting 3620 wikidata documents in pages of 50

100%|██████████| 73/73 [02:28<00:00,  2.04s/it]

In [282]:
f.add_property_filter("P31", 'Q5') # human
f.add_label_filter("PREFERRED_NAME", threshold=90, include_aliases=True)

Added filter {'property': ['P31', 'Q5', False]}
Added filter {'label': ['PREFERRED_NAME', 90, True]}

In [283]:
f.view_filters()

Filters:
 - property: ['P31', 'Q5', False]
 - label: ['PREFERRED_NAME', 90, True]

In [284]:
f.process_dataframe()

  0%|          | 0/3476 [00:00<?, ?it/s]

Processing filter 1 of 2

100%|██████████| 3476/3476 [07:25<00:00,  7.79it/s]
  0%|          | 0/3321 [00:00<?, ?it/s]

Processing filter 1 of 2

100%|██████████| 3321/3321 [13:25<00:00,  4.12it/s]

In [285]:
df_new = f.get_dataframe()